/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
  z-index: 1;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
  position: relative;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
  position: relative;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}
.hamburger-icon span:first-child {
  opacity: 1;
}
.hamburger-icon span:first-child {
  transform: none;
}

/* BACKGROUND IMAGE */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  /* position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  object-fit: cover;
  z-index: -1; */
  /* width: calc(100% - 200px); */
}
#background-image {
  max-width: 100%;
  height: auto;
}

.brand-name {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5rem;
  padding-bottom: 50px;
  /* margin-bottom: 50px; */
}

/* CAROUSEL SLIDER */
.deals {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.text-section {
  flex: 1;
  padding-right: 20rem;
}

.container-slider {
  flex: 0 1 25rem;
  padding: 2rem;
  margin-right: 160px;
}

.slider-wrapper {
  position: relative;
  /* max-width: 100%; */
  max-width: 20rem;
  margin: 0 auto;
}

.slider {
  display: flex;
  aspect-ratio: 9 / 16;
  overflow: hidden;
  transition: transform 0.5s ease;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}

/* BUY NOW BUTTON */
.buy-now-button {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 50px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.buy-now-button:hover {
  background-color: #333;
}

/* COUNT DOWN  */
.launch-time {
  display: flex;
}

.launch-time div {
  flex-basis: 100px;
}

.launch-time div p {
  font-size: 60px;
  margin-bottom: -7px;
}

/* NEW ARRIVALS */

.text-new-arrivals {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  max-width: 600px;
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;
}

.text-new-arrivals h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.text-new-arrivals p {
  line-height: 1.5;
  color: #666;
  font-size: 16px;
  text-align: center;
}

/* NEW ARRIVALS IMAGE GALLERY */

.btn-container {
  position: relative;
  max-width: 1350px;
  width: 100%;
  padding: 20px;
  margin: 50px auto;
}

.filter-button {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.btn-container button {
  padding: 10px 20px;
  font-size: 18px;
  background: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.btn-container button.active {
  background: #333;
  color: #ffffff;
}

.filterable-cards {
  display: flex;
  margin-top: 25px;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  flex-basis: 300px;
  background-color: #ffffff;
  padding: 3px;
  border-radius: 8px;
  outline: 2px solid #d8d8d8;
}

.card.hide {
  display: none;
}

.card img {
  width: 100%;
  height: 210px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.card-body {
  padding: 15px 10px 20px;
  justify-content: flex-end;
}

.card-title {
  font-size: 15px;
  font-weight: 500;
  color: #333;
}

.card-text {
  font-size: 10px;
  padding: 2px;
  color: #333;
}

.text-stock {
  font-size: 10px;
  color: #333;
  justify-content: flex-end;
  display: flex;
}

.card-price {
  justify-content: flex-end;
  display: flex;
}

.btn-view-more {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
}

.view-more-button {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 50px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-more-button:hover {
  background-color: #333;
}

.view-more-button:active {
  transform: translateY(1px);
}

/* PACKAGES */

.packages {
  padding: 60px 20px;
  background: linear-gradient(105deg, white 40%, #f0f0f0 40%);
  /* min-height: calc(100vh - 120px); */
  /* min-height: 100vh; */
  height: 68vh;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.packages img {
  width: 40%;
  height: auto;
}

.packages h1 {
  text-align: left;
}

.text-content {
  text-align: left;
  width: 40%;
}

.size {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}

.text-content .text-pack,
h1,
h6,
h3 {
  padding-top: 5px;
  padding-bottom: 10px;
}

.size-label {
  background-color: black;
  color: white;
  padding: 5px 5px;
  border-radius: 5px;
  font-weight: bold;
}

.info-item {
  display: flex;
  justify-content: space-evenly;
  padding: 4rem;
}

.body-carousel {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background: linear-gradient(180deg, rgb(236, 213, 232) 0%, rgb(50, 112, 118) 100%); */
}

.gallery {
  width: 100%;
}

.gallery-container {
  align-items: center;
  display: flex;
  height: 400px;
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
}

.gallery-item {
  height: 200px;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 330px;
  z-index: 0;
  border-radius: 15px;
  background-size: contain;
}

.gallery-item-1 {
  left: 15px;
  opacity: 0.4;
  transform: translateX(-50%);
}

.gallery-item-2,
.gallery-item-4 {
  height: 250px;
  opacity: 0.8;
  width: 380px;
  z-index: 1;
}

.gallery-item-2 {
  left: 30%;
  transform: translateX(-50%);
}

.gallery-item-3 {
  box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
  height: 300px;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 430px;
  z-index: 2;
}

.gallery-item-4 {
  left: 70%;
  transform: translateX(-50%);
}

.gallery-item-4 {
  left: 85%;
  opacity: 0.4;
  transform: translateX(-50%);
}

.gallery-item-5 {
  left: 85%;
  opacity: 0.4;
  transform: translateX(-50%);
}

.gallery-controls {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  height: 50px;
}

.gallery-controls button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 20px;
  margin: 0 50px;
  padding: 0 12px;
  text-transform: capitalize;
}

.gallery-controls-button:focus {
  outline: none;
}

.gallery-controls-previous {
  position: relative;
}

.gallery-controls-previous::before {
  border: solid #000;
  border-width: 0 4px 4px 0;
  content: "";
  display: inline-block;
  height: 5px;
  left: -30px;
  padding: 10px;
  position: absolute;
  top: 5%;
  transform: rotate(135deg) translateY(-50%);
  transition: left 0.15s ease-in-out;
  width: 5px;
}

.gallery-controls-previous:hover::before {
  left: -40px;
}

.gallery-controls-next {
  position: relative;
}

.gallery-controls-next::before {
  border: solid #000;
  border-width: 0 4px 4px 0;
  content: "";
  display: inline-block;
  height: 5px;
  padding: 10px;
  position: absolute;
  right: -30px;
  top: 45%;
  transform: rotate(-45deg) translateY(-50%);
  transition: right 0.15s ease-in-out;
  width: 5px;
}

.gallery-controls-next:hover::before {
  right: -40%;
}

.gallery-nav {
  bottom: -15px;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100%;
}

.gallery-nav li {
  background: #ccc;
  border-radius: 50%;
  height: 10px;
  margin: 0 16px;
  width: 10px;
}

.gallery-nav li.gallery-item-selected {
  background: #555;
}
